body {
    width: 100% ;

}
@media screen and (max-width: 600px) {
    .banner {
        visibility: hidden;
        display: none ;
    }
    nav ul ,#why-us ,#history ,#our-pack ,footer {
        flex-direction: column;
    }
}
@font-face {
 font-family: dancing ;
 src: url(polices/DancingScript-Regular.ttf);
}
nav {
        vertical-align: middle;
    }
    nav ul {
        display: flex ;
        justify-content: center ;
        list-style-type: none ;
        align-items:center;
    }
    nav li {
        margin-left: 20px ;
        text-transform: uppercase;
        padding: 10px ;
    }
    nav li a{
        color : gray ;
        text-decoration: none;
        padding: 8px;
    }
    nav li a:hover {  
        background-color: rgb(34, 34, 34 );
        color : #d5c3a0 ;
    }
    nav #nom_boite {
        color :   #e5989b ;
        font-size :20px;  
    }
    .banner {
        background : url("images/12.webp") no-repeat ;
        height: 620px;
        
    }
    .banner h1 {
        font-family: dancing ;
    }
    #slogant1{
        position: absolute;
        top: 300px;
        left:450px;
        color: #d5c3a0;
        padding: 10px;
        background-color: gray  ;
        
    }
    #slogant2{
        position: absolute;
        top: 450px;
        left: 600px;
        color: #d5c3a0;
        padding: 10px;
        background-color: gray  ; 
    }
    .titre {
        font-family: dancing ;
        font-size: 60px;
        color : #d5c3a0 ;
        text-align: center ;
    }
    #history {
        display: flex;
        margin: 50px;
        
    }
    #history article img {
        float: right ;
    }
    #history article {
        color :  rgba(51,51,51,0.75) ;
        font-size: 20px ;
    }
    #history aside {
        background-color: #d5c3a0;
        color :  #555b6e ;
        padding: 60px ;
        white-space: nowrap; 
        text-align: center;
        
    }
    #history aside div{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    #history aside div a {
        text-decoration: none; 
        color: white;
        border: 2px solid white;
        padding: 10px;
    }
    #why-us {
        display: flex ;
        justify-content: center ;
    }
    #why-us div {
        display: flex;
        flex-direction: column;
        text-align: center;
        color :  #555b6e ;
        margin: 20px;
    }
    #why-us div .icones1{
        height : 370px ;
        width : 370px ;
        margin: auto;
    }
    #our-pack {
        display: flex ;
        justify-content: center ;
    }
    #our-pack div {
        
        text-align: center;
        color :  #555b6e ;
        margin-left: 30px;
    }
    #our-pack div .icones2{
        height : 370px ;
        width : 370px ;
        margin: auto;
        border-radius: 30px;
    }
    #formulaire {
      display: flex;
      flex-direction: column;
    
    }
    #formulaire form {
        display: flex;
        flex-direction: column  ;
        align-items: center ;
    }

    #formulaire form input ,textarea,select {
        width: 50% ;
        margin: 10 px ;
        margin: auto;
        border: 0px ;
        color : #7a7a7a ;
        font-size:  15px ;
        background-color:  rgba(0, 0, 0, 0.03) ;
        padding: 8px ;
    }
    
    #formulaire form button {
        background-color: rgb(34, 34, 34) ;
        color : #d5c3a0 ;
        padding: 14px ;
        width: 50%;
    }
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color:  rgb(34, 34, 34) ;
        height: 400px;
        color: white ;
        margin-top: 60px ;
        text-align: center;
        padding: 20px;
    }
    footer h2 {
        color : #d5c3a0 ;
        font-family: dancing ;
    }
    footer #footer-left {
        border: 1px solid gray ;
        padding: 8px ;
        width: 60%;
    }
    footer #footer-left:hover {
        border: 1px solid #d5c3a0;
    }
    footer #footer-right a{
        color : white ;
        text-decoration: none;
        padding: 8px; 
        border: 1px solid white ;
    }
    